<section class="user">
<h1><%= @user.name %></h1>
<h2><%= mail_to(@user.email) %></h2>
<div class="actions">
    <%= link_to "Edit Account", edit_user_path(@user),
                    class: "button edit" %>
</div>
</section>